body {
  background-color: LightCyan;
  color: DarkSlateGrey;
  font-family: Verdana;
  font-family: 'Rubik', sans-serif;

  }

h1 {
  color: MediumOrchid;
  }

h2 {
  color: Pink;
  }

h3 {
  color:LightGreen;
  }
